/* <!-- ✨ GOOGLE FONTS,HEADER & NAV ✨ --> */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

/* <!-- ✨ VARIABLES CSS ✨ --> */
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(93, 54%, 54%);
  --first-color-alt: hsl(93, 50%, 48%);
  --first-color-light: hsl(93, 58%, 66%);
  --title-color: hsl(180, 2%, 8%);
  --text-color: hsl(223, 6%, 23%);
  --white-color: hsl(120, 9%, 98%);
  --black-color: hsl(228, 6%, 4%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(228, 6%, 12%);
  --shadow-img: 0 0 48px hsla(93, 54%, 54%, 0.4);
  --gradient-card: linear-gradient(
    180deg,
    hsla(93, 8%, 8%),
    hsla(93, 40%, 30%)
  );
  /* <!-- ✨ Font and typography ✨ --> */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  /* <!-- ✨ Font weight ✨ --> */
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  /* <!-- ✨ z index ✨ --> */
  --z-tooltip: 10;
  --z-fixed: 100;
}
/* <!-- ✨ Responsive typography ✨ --> */
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}
/* <!-- ✨ Responsive typography ✨ --> */
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* <!-- ✨ Responsive typography ✨ --> */
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  overflow: hidden;
}

/* <!-- ✨ NAV BAR ✨ --> */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__close,
.nav__toggle,
.nav__actions {
  display: flex;
  color: var(--title-color);
  cursor: pointer;
}
.nav__logo {
  font-weight: var(--font-semi-bold);
  column-gap: 0.25rem;
  align-items: center;
}
.nav__logo i {
  color: var(--first-color);
  font-size: 1.8rem;
  font-weight: initial;
}

.nav__actions {
  font-size: 1.25rem;
  column-gap: 0.5rem;
  align-items: center;
}

.nav__connect{
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(228, 24%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  font-size: 1.25rem;
}

.show-menu {
  right: 0;
}

.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(228, 24%, 6%, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */
.active-link {
  color: var(--first-color);
}
/* <!-- ✨ HOME ✨ --> */

.home__container {
  padding-top: 2.5rem;
  row-gap: 2rem;
}

.home__img {
  width: 270px;
  justify-self: center;
  /* filter: drop-shadow(var(--shadow-img)); */
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}

.home__title span {
  color: var(--first-color);
}

.home__description {
  margin-bottom: 3rem;
}
/* <!-- ✨ BUTTON ✨ --> */

.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.button {
  background-color: var(--first-color);
  color: var(--black-color);
  font-weight: var(--font-bold);
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  border-radius: 4rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.75rem;
}

.button span {
  background-color: var(--white-color);
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform 0.4s;
}

.button:hover span {
  transform: translateX(0.15rem) rotate(-30deg);
}

.button__link {
  color: var(--white-color);
  font-weight: var(--font-bold);
  text-decoration: underline;
  transition: color 0.4s;
}
.button__link:hover {
  color: var(--first-color);
}

/* <!-- ✨ DESCRIPTION ✨ --> */
.desc__container {
  padding-top: 2rem;
  row-gap: 2rem;
}

.desc__img {
  width: 270px;
  /* filter: drop-shadow(var(--shadow-img)); */
  justify-self: center;
}

.desc__list {
  display: grid;
  row-gap: 1rem;
}

.desc__item {
  display: flex;
  column-gap: 0.5rem;
  align-items: flex-start;
}

.desc__item i {
  font-size: 1.5rem;
  color: var(--first-color);
}

/* <!-- ✨ TRANSECTION ✨ -->*/
.form-container{
  padding: 0.5rem 2rem 0rem 2rem;
  border-radius: 1rem;
  min-height:40vh ;
  min-width: 40vh;
  border: 1px solid lightgray; /* Border for the container */
}

form{
  margin: 2rem 0 2rem 0;
}

form button,input{
  width:100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input{
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}

.amount{
  margin-top: 2rem;
}

.msg{
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 3rem;
}

form button{
  background-color: var(--first-color);
  height: 3rem;
  color:#fff;
  font-size: 1.15rem;
  cursor: pointer;
  
}
.accountDetail p{
  margin: 0.75rem 0 0.75rem 0;
}

.accountDetail h3{
  margin-bottom: 1.5rem;
  text-align: center;
}

.accountDetail button{
  margin-top:  1.25rem;
  background-color: var(--first-color);
  height: 3rem;
  color:#fff;
  font-size: 1.15rem;
  cursor: pointer;
  width:20vh;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
.accountNote {
  margin-top: 1.5rem;
}
.accountNote i{
  margin-top: 0.6rem;
}
.checkDetails p{
  margin: 1.5rem 0 1.5rem 0;
}
/* <!-- ✨ FOOTER ✨ --> */

.footer {
  padding-block: 9rem 2rem;
}

.footer__container {
  row-gap: 4rem;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: --font=var(--font-semi-bold);
  margin-bottom: 0.75rem;
}

.footer__logo i {
  color: var(--first-color);
  font-size: 1.5rem;
  font-weight: initial;
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 4rem 3rem;
}

.footer__title {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}

.footer__links {
  display: grid;
  row-gap: 1.2rem;
}

.footer__link {
  color: var(--text-color);
  transition: color 0.4s;
}

.footer__social {
  display: flex;
  column-gap: 0.75rem;
}

.footer__social-link {
  color: var(--text-color);
  font-size: 1.75rem;
  transition: color 0.4s;
}

.footer__link:hover,
.footer__social-link:hover {
  color: var(--first-color);
}

.footer__copy {
  display: block;
  margin-top: 6rem;
  text-align: center;
  font-size: var(--small-font-size);
}
/* <!-- ✨ SCROLL BAR ✨ --> */

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(228, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(228, 4%, 25%);
}

::-webkit-scrollbar-thumb:hover {
  width: 0.6rem;
  background-color: hsl(228, 4%, 35%);
}
/* <!-- ✨ SCROLL UP ✨ --> */

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--container-color);
  color: var(--title-color);
  box-shadow: 0 12px 24px hsla(228, 48%, 4%, 0.5);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}

/* Show Scroll Up */

.show-scroll {
  bottom: 3rem;
}
/* <!-- ✨ BREAKPOINTS ✨ --> */
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }

  .home__title {
    font-size: 2rem;
  }
  .home__buttons {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .footer__content {
    grid-template-columns: max-content;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container,
  .desc__container {
    grid-template-columns: 400px;
    justify-content: center;
  }
  .footer__content {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 760px) {
  .nav__menu {
    width: 50%;
  }

  .new__content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
  .new__card:nth-child(even) {
    transform: translateY(10rem);
  }

  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}
/* For large devices */

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .section__title {
    margin-bottom: 1.5rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__logo i {
    font-size: 1.8rem;
  }

  .nav__menu {
    width: initial;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__actions {
    font-size: 1.5rem;
    column-gap: 1rem;
  }

  .home__container {
    grid-template-columns: 480px 535px;
    align-items: center;
    column-gap: 12rem;
    padding-top: 4rem;
  }

  .home__img {
    width: 480px;
  }

  .home__data {
    text-align: initial;
  }

  .home__description {
    margin-bottom: 4.5rem;
  }

  .home__buttons {
    justify-content: initial;
    column-gap: 1.5rem;
  }

  .desc__container {
    grid-template-columns: 480px 385px;
    align-items: center;
    column-gap: 8rem;
    padding-top: 3rem;
  }

  .desc__img {
    margin-right: 22rem;
    width: 480px;
  }

  .desc__list {
    row-gap: 1.5rem;
  }

  .footer__logo {
    margin-bottom: 1.5rem;
  }

  .footer__logo i {
    font-size: 2rem;
  }

  .footer__content {
    column-gap: 5.5rem;
  }

  .footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
  }

  .footer__social {
    column-gap: 1rem;
  }

  .footer__copy {
    margin-top: 7.5rem;
  }

  .scrollup {
    right: 3rem;
  }
}
